.gridcart {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: -10px;
  padding-left: -10px;

  &__img {
    max-width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__left {
    width: 33.33333%;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66.66667%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.halfwidth {
  display: flex;
  flex-direction: row;
  .empty {
    flex: 1;
  }
}