.gridcart {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: -10px;
  padding-left: -10px;

  &__img {
    max-width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
    margin-top: 20px;
    &--center {
      justify-content: center;
    }
  }

  &__left {
    width: 33.33333%;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66.66667%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.center {
  margin: auto;
}

.halfwidth {
  display: flex;
  flex-direction: row;
}

// .flexhalf {
//   flex: 1;
// }

.empty {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__text {
  flex: 1.5;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
}

.between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
  label {
    flex: 1;
  }
}

.dropdown {
  display: flex;
  flex: 1.7;
  flex-direction: row;
  justify-content: space-between;
}
