// Here is style related to cart.html

.gridcart {
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__col {
    display: flex;
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
    &:nth-child(2) {
      flex: 2;
    }
  }
  .image {
    max-width: 100%;
  }
}

// .cart__card {
//   display: flex;
// }

// .cart__img {
//   flex-grow: 1;
// }

// .cart__txt {
//   display: flex;
//   flex-grow: 2;
// }
