@import "config.scss";

header {

  width: $mainWidth;
  background: color(cHeader);
  margin-bottom: 20px;
    h1 {
      text-align: center;
      font-family: $font-family-heading;
      font-size: 48px;
    }
    .header {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1200px;

      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-left: 25%;
        width: 50%;
      }

      &__listitem {
          align-content: space-between;
          padding: 10px;
          font-family: $font-family-heading;
          font-size: 18px;
      }
      
    }

    .checkout {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      align-items: center;
      width: 25%;

      @media (max-width: 599px) {
        justify-content: center;
        width: 100%;
      }

      &__image {
        align-content: center;
        width: 20px;
        height: 20px;
      }

      &__text {
        margin: 20px;
        transition: color 300ms ease-in-out;

        &:hover {
          color: #cee8ff;
          cursor: pointer;
        }
      }
    }

    .link {
      text-decoration: none;
      color: #000000;
      transition: color 300ms ease-in-out;
      &:hover {
        color: #cee8ff;
        cursor: pointer;
      }
    }
  }