h2 {
  $font-family-heading:
}
p {
  font-family: $font-family-body;
}
.text {
  text-align: justify;
  font-size: 1.5em;
}
.grid__img {
  max-width: 100%;
}
.button__index {
  background-color: #cc9694;
  color: #000000;
  border: none;
  width: 75%;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  margin-top: 2em;
  transition: 0.3s ease-in-out;
}

.button__index:hover {
  background-color: #000000;
  color: #cc9694;
}

.grid__row {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.grid__col {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.footer_listitem {
  color: #fcffd2;
}

footer {
  background-color: #cc9694;
}

footer nav {
  display: flex;
}
@media (min-width: 700px) {
  .grid__row {
    display: flex;
    flex-direction: row;
  }
  .grid__row:last-of-type {
    flex-direction: row-reverse;
  }
  .grid__col {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .button__index {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .button__index {
    width: 50%;
  }
  .grid__row {
    margin-left: 10px;
    margin-right: 10px;
  }
}
