.card {
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.face {
  backface-visibility: hidden;
}

.center {
  text-align: center;
}

.face.back {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transform: rotateY(180deg);
}

@media (min-width: 600px) {
  .gridstaff {
    display: flex;
    flex-direction: column;
    align-content: center;

    &__row {
      display: flex;
      margin-top: 1.5em;
      margin-right: -10px;
      margin-left: -10px;
    }

    &__col {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

.image {
  max-width: 100%;
}

.gridstaff__col:hover .card {
  transform: rotateY(180deg);
}

@media (max-width: 590px) {
  .gridstaff__col {
    margin-top: 3em;
  }

  .gridstaff__row:last-child {
    margin-bottom: 5em;
  }
}
