// @import "scss/config";
@import "scss/staff";
@import "scss/cart";
@import "scss/index.scss";
@import "scss/products";

// ALL THE STYLES APPLIED ACROSS THE PAGES ARE HERE
// Colors for the project
$colors: (
  cBlack: #000000,
  cWhite: #ffffff,
  cHeader: #afb281,
  cHeaderLI: #cee8ff,
  cFooterLI: #fcffd2,
  cFooter: #cc9694
);
// Function to fetch out the colors
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Base font
$baseFontSize: 16px;
$mainWidth: 100%;

// Font-families
$font-family-body: "Open Sans", Helvetica, Arial, sans-serif;
$font-family-heading: "Oswald", Verdana, serif;

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  font-size: $baseFontSize;

  // TODO fleiri grunn stillingar
}

h1, h2, h3 {
  font-family: $font-family-heading;
}

body {
  font-family: $font-family-body;
}

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

main {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 1250px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
// Header styles
header {
  width: $mainWidth;
  background: color(cHeader);
  margin-bottom: 40px;
  h1 {
    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: row;
    ul {
      display: flex;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
// Grid styles
.grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  &__row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__col {
    padding-right: 10px;
    padding-left: 10px;
    &:hover .card {
      transform: rotateY(180deg);
    }
  }
  .image {
    max-width: 100%;
  }
}

// Footer styles
footer {
  width: $mainWidth;
  background: color(cFooter);
  margin-top: 60px;
}

// TODO sækja allar sass skrár
// @import "scss/button";
// @import "scss/list";
