// @import "scss/config";
@import "scss/staff";
@import "scss/products";

// ALL THE STYLES APPLIED ACROSS THE PAGES ARE HERE
// Colors for the project
$colors: (
  cBlack: #000000,
  cWhite: #ffffff,
  cHeader: #afb281,
  cHeaderLI: #cee8ff,
  cFooterLI: #fcffd2,
  cFooter: #cc9694
);
// Function to fetch out the colors
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Base font
$baseFontSize: 16px;
$mainWidth: 100%;

// Font-families
$font-family-body: "Open Sans", Helvetica, Arial, sans-serif;
$font-family-heading: "Oswald", Verdana, serif;


html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  font-size: $baseFontSize;

  // TODO fleiri grunn stillingar
}

h1 {
  font-family: $font-family-heading;
}

body {
  font-family: $font-family-body;
}

main {
  max-width: 1200px;
}
// Header styles
header {
  width: $mainWidth;
  background: color(cHeader);
  h1 {
    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: row;
    ul {
      display: flex;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
// Footer styles
footer {
  width: $mainWidth;
  background: color(cFooter);
}

// TODO sækja allar sass skrár
// @import "scss/button";
// @import "scss/list";
